@import "styles/variables.scss";
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .selfImg {
    box-sizing: border-box;
    border-radius: 50%;
    height: 50vw;
    max-height: 250px;
    border: 2px solid $darkBg;
    transition: all 0.2s;

    &:hover {
      border-radius: 25%;
      border: 2px solid white;
    }
  }

  .description {
    margin-top: 24px;
    p {
      font-size: 18px;
      margin-top: 24px;
      max-width: 700px;

      a {
        color: white !important;
        font-weight: bold;
        border-radius: 8px;
        transition: all 0.4s;

        &:hover {
          color: black !important;
          background-color: white;
          padding: 4px;
          font-size: 18px;
          transform: scale(2);
        }
      }
    }
  }
}
