@import "styles/variables.scss";

.circleContainer {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBubble {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  background-color: $darkColor;
  color: $darkAccent;

  &:hover {
    background-color: $darkAccent;
    border: 1px solid $darkColor;
    color: $darkColor;
  }

  &.light {
    background-color: $lightBg;
    color: $lightColor;
  }

  &.active {
    background-color: $darkColor;
    color: $darkBg;
    border: 1px solid $darkAccent !important;
  }
}
