$darkBg: white;
$darkColor: #333;

$lightBg: #333;
$lightColor: white;

.circleContainer {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBubble {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  background-color: white;
  color: $darkColor;

  &.light {
    background-color: $lightBg;
    color: $lightColor;
  }

  &.active {
    background-color: $darkColor;
    color: $darkBg;
  }
}
